:root { 
    --primary-bg-color: white; 
    --secondary-bg-color: #E0FBFC;
    --tertiary-bg-color: #C2DFE3;
    --quaternary-bg-color: #9DB4C0;
    --text-color: #253237;
    --border-color: #5C6B73;
    --container-color1: #99c8cf;
    --container-color2: white;
    --container-color3: #E0EAFB;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

nav {
    background-color:var(--primary-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
    padding: 6px;
    color: var(--text-color);
    align-items: center;
}

nav a {
    color: var(--text-color);
    padding: 40px;
    flex: 2;
    text-decoration: none;
}

nav img {
    height: 8vh;
    max-width: 100%;
    flex: 1;
}

.button, .buttonsSpecial {
    background-color: var(--primary-bg-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}

.buttonsSpecial:hover {
    background-color: var(--tertiary-bg-color);
    transition: 0.3s ease;
}

.button:hover {
    background-color: var(--quaternary-bg-color);
    transition: 0.3s ease;
}

header {
    background-image: url("images/koelkast.jpg");
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    text-shadow:
            -1px -1px 0 var(--secondary-bg-color),  /* top-left shadow */
            1px -1px 0 var(--secondary-bg-color),  /* top-right shadow */
            -1px 1px 0 var(--secondary-bg-color),  /* bottom-left shadow */
            1px 1px 0 var(--secondary-bg-color);  /* bottom-right shadow */
}

header p {
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    max-width: 71%;
    width: 100%;
    margin: auto;
    padding-bottom: 2vh;
    word-break: break-word;
}

#description {
    background-color:var(--tertiary-bg-color);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding: 8px 40px;
    text-align: center;
}

#description p {
    font-size: 1.2rem;
}

#description h2 {
    text-align: center;
}

#description img {
    max-width: 100%;
    object-fit: contain;
    margin: 0 50px;
}

#pictures {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 20px;
}

#pictures > div {
    flex: 1 1 0;
    min-width: 30%;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    outline: var(--border-color) 1px solid;
}

#container {
    background-color: var(--container-color1);
    margin: 20px;
    padding: 20px;
    color: var(--text-color);
    border: 2px solid var(--border-color);
}

#container2 {
    background-color: var(--container-color2);
    margin: 20px;
    padding: 20px;
    color: var(--text-color);
    border: 2px solid var(--border-color);
}

#container2 img, .container3 img {
    max-width: 100%;
    height: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

#container3 {
    background-color: var(--container-color3);
    margin: 20px;
    padding: 20px;
    color: var(--text-color);
    border: 2px solid var(--border-color);
}

#container3 img {
    max-width: 100%;
    height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#why {
    background-color:var(--quaternary-bg-color);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding: 8px 40px;
    align-items: center;
    text-align: center;
}

#manual {
    background-color:var(--tertiary-bg-color);
    border-bottom: 2px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

#manual img {
    max-width: 100%;
}

#manual div {
    background-color: var(--container-color1);
    margin: 30px;
    padding: 30px;
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 15px;
}

#manual div img {
    border-radius: 15px;
}

footer {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    gap: 2rem;
}

footer a {
    color: var(--text-color);
    padding: 40px;
    flex: 2;
}

footer img {
    height: 8vh;
    max-width: 100%;
    flex: 1;
}

@media (max-width: 1240px) {

    .container2 img, .container3 img {
        margin: auto;
    }

    header h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {

    nav, footer {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        width: 100%;
    }

    footer a {
        width: 100%;
    }

    header p {
        max-width: 90%;
        font-size: 1.4rem;
    }

    .button {
        width: 100%;
    }

    header h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 560px) {
    header p {
        max-width: 100%;
        font-size: 1.2rem;
    }

    header h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 510px) {
    header p {
        font-size: 1.1rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg-color: black;
        --secondary-bg-color: #253237;
        --tertiary-bg-color: #5C6B73;
        --quaternary-bg-color: #9DB4C0;
        --text-color: white;
        --border-color: #C2DFE3;
        --container-color1: #2e3c3e;
    }

    header {
        background-image: url(images/koelkastDonker.jpg);
    }
}