:root { 
    --primary-bg-color: white; 
    --secondary-bg-color: #E0FBFC;
    --tertiary-bg-color: #C2DFE3;
    --quaternary-bg-color: #9DB4C0;
    --text-color: #253237;
    --border-color: #5C6B73;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

nav {
    background-color:var(--primary-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
    padding: 6px;
    color: var(--text-color); 
}

nav a {
    color: var(--text-color);
    padding: 40px;
    flex: 2;
    text-decoration: none; 
}

nav img {
    height: 10vh;
    max-width: 100%;
    flex: 1;
}

.button, .buttonSpecial {
    background-color: var(--primary-bg-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}

.buttonSpecial:hover {
    background-color: var(--tertiary-bg-color);
    transition: 0.3s ease;
}

.button:hover {
    background-color: var(--quaternary-bg-color);
    transition: 0.3s ease;
}

header {
    background-image: url(https://cdn.nos.nl/image/2016/06/01/286866/xxl.jpg);
    background-size: cover;
    height: 30vh;
    text-align: center;
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    text-shadow:
            -1px -1px 0 var(--secondary-bg-color),  /* top-left shadow */
            1px -1px 0 var(--secondary-bg-color),  /* top-right shadow */
            -1px 1px 0 var(--secondary-bg-color),  /* bottom-left shadow */
            1px 1px 0 var(--secondary-bg-color);  /* bottom-right shadow */
}

header p {
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    max-width: 71%;
    width: 100%;
    margin: auto;
    padding-bottom: 1vh;
    word-break: break-word;
}

.section1 {
    background-color:var(--tertiary-bg-color);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding: 8px 40px;
}

.section2 {
    background-color:var(--quaternary-bg-color);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding: 8px 40px;
}

.section3 {
    background-color:var(--tertiary-bg-color);
    border-bottom: 2px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding: 8px 40px;
}

footer {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 6px;
}

footer img {
    height: 10vh;
    max-width: 100%;
    flex: 1;
}


@media (max-width: 800px) {

    nav, footer {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        width: 100%;
    }

    header, h2, h3 {
        font-size: 0.9rem;
    }

    header p {
        font-size: 1.0rem;
    }

    body, .button, .buttonSpecial {
        font-size: 0.8rem;
    }
    /*Ik verander voor nu de font-size zodat de website responsive is aan een telefoon maar er is misschien wel een betere manier om dit te doen.*/

}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg-color: black;
        --secondary-bg-color: #253237;
        --tertiary-bg-color: #5C6B73;
        --quaternary-bg-color: #9DB4C0;
        --text-color: white;
        --border-color: #C2DFE3;
    }
}
